<html>
    <body>
        <div ng-app="myApp" ng-controller="myCtrl">
            <div>Path: {{path}}</div>
            <div>Hash: {{hash}}</div>
            
            <button ng-click="setPath()">Change Path</button>
            <button ng-click="setHash()">Change Hash</button>
            
            <hr/>
            
            <div>View: {{view}}</div>
            <div>Location Changed: {{locationChanged}}</div>
        </div>
        
        <script src="angular.min.js"></script>
        <script>
            var myApp = angular.module('myApp', []);

            function myCtrl($scope, $location) {
                
                $scope.curPath = 1;
                $scope.curHash = 1;
                
                $scope.setPath = function(){
                    $location.path('foo' + $scope.curPath);
                    $scope.path = $location.path();
                    $scope.curPath += 1;
                };
                
                $scope.setHash = function(){
                    $location.hash('bar' + $scope.curHash);
                    $scope.hash = $location.hash();
                    $scope.curHash += 1;
                };
                
                $scope.path = $location.path();
                
                if (!$location.hash()){
                    $location.hash('go');
                }
                $scope.hash = $location.hash();
                
                function onLocationChanged() {
                    var view = $location.hash();
                    switch(view) {
                        case 'one':
                            $scope.view = 1;
                            break;
                        case 'two':
                            $scope.view = 2;
                            break;
                    }
                    $scope.locationChanged += 1;
                }
                
                $scope.locationChanged = 0;
                $scope.$on('$locationChangeSuccess', onLocationChanged);
                onLocationChanged();
            }
        </script>
    </body>    
</html>